
#heart {
  @extend %size;
  .st0{fill:#39ADD1;}
}

#location {
  @extend %size;
  .st0{fill:#39ADD1;}
}

#contact {
  @extend %size;
  .st0{fill:#39ADD1;}
}

#logo {
  height: 150px;
  width: 150px;
    .st0{fill:#BA8058;}
    .st1{fill:#EAAA7F;}
    .st2{fill:#F4C6A6;}
}

#paw-print {
    display: none;
  }

#red {
  .st0{fill:#BA8058;}
  .st1{fill:#FBFEFF;}
  .st2{fill:#2D3339;}
  .st3{fill:#EAAA7F;}
}

#fawn {
  .st0{fill:#EAAA7F;}
  .st1{fill:#FBFEFF;}
  .st2{fill:#2D3339;}
  .st3{fill:#F4C6A6;}
}

#sable {
  .st0{fill:#844B24;}
  .st1{fill:#FBFEFF;}
  .st2{fill:#2D3339;}
  .st3{fill:#BA8058;}
}

#black-tan {
  .st0{fill:#BA8058;}
  .st1{fill:#52595F;}
  .st2{fill:#FBFEFF;}
  .st3{fill:#2D3339;}
}

/** Media Queries **/

@media only screen and (max-width: 420px) {
  #logo-text {
    display: none;
  }
  #paw-print {
    display: block;
    margin: 0 auto;
  }
  #red,
  #fawn,
  #sable,
  #black-tan {
    width: 130px;
    padding: 15px 5px;
  }
}
